################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/BettyWalletApp/bin/Debug/net9.0
/BettyWalletApp/obj
